/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.button{
    -fx-font-size: 16pt;
    -fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 5, 0);
}

.label{
    -fx-font-size: 16pt;
}

.text-field{
    -fx-font-size: 16pt;
    -fx-font-style: italic;
   
}

.header{
    -fx-font-size: 36pt;
}

/*
.chart-bar{
   -fx-bar-fill: blue;
} */

.default-color0.chart-bar {
    -fx-bar-fill: blue;
}

.default-color1.chart-bar {
    -fx-bar-fill: green;
}

